/* src/styles/chat.css */

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 2rem 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messages-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.chat-bubble {
    max-width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary);
    /*background-color: rgba(0, 255, 42, 0.1);*/
    /*border: 1px solid rgba(0, 255, 42, 0.2);*/
}

.chat-bubble.assistant {
    align-self: flex-start;
    border-bottom-left-radius: 0.25rem;
}

.chat-bubble.user {
    align-self: flex-end;
    border-bottom-right-radius: 0.25rem;
    background-color: rgba(0, 255, 42, 0.2);
}

.chat-input {
    width: 100%;
    height: 42px;
    padding: 1rem;
    background-color: rgba(var(--background-start), 0.7);
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    color: rgb(var(--foreground));
    outline: none;
    font-size: 12px;
}

.chat-input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(0, 255, 42, 0.1);
}

.chat-input::placeholder {
    color: var(--primary);
}

/*Pixelated Corners*/

.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
    position: relative;
}
.pixel-corners {
    border: 2px solid transparent;
}
.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    display: block;
    pointer-events: none;
}
.pixel-corners::after {
    margin: -4px;
}

.avatar-border {
    border: 2px solid var(--primary);
}